.EmployeeCard{
    width: 100%;
    border: .5px solid black;
    border-radius: 5px;
    margin-bottom: 10px;
    min-height: 150px;
    padding: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    transition: .5s;
    box-shadow: 5px 5px 10px #133449;
    position: relative;
}

.personData{
    height: 100%;
    
}

.personData h3{
    color: cornflowerblue;
}


.personData p{
    color: rgb(202, 202, 202);
}

.delete{
    background: none;
    outline: none;
    border: none;
    font-size: 25px;
    color: rgb(148, 148, 148);
    cursor: pointer;
    display: none;
    transition: .5s;
}

.EmployeeCard:hover{
    background: #133449;
}

.EmployeeCard:hover .delete{
    display: block;
}

.editBtn{
    background: none;
    outline: none;
    border: none;
    font-size: 25px;
    color: rgb(148, 148, 148);
    cursor: pointer;
    display: none;
    transition: .5s;
}

.EmployeeCard:hover .editBtn{
    display: block;
}