.EmployeeCard{
    width: 100%;
    border: .5px solid rgb(205, 205, 205);
    border-radius: 5px;
    margin-bottom: 10px;
    height: 150px;
    padding: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.personData{
    height: 100%;
    
}

.personData h3{
    color: blueviolet;
}


.personData p{
    color: rgb(96, 96, 96);
}

.delete{
    background: none;
    outline: none;
    border: none;
    font-size: 25px;
    color: rgb(61, 15, 15);
    cursor: pointer;
    display: none;
}

.EmployeeCard:hover{
    background: rgb(230, 230, 230);
}

.EmployeeCard:hover .delete{
    display: block;
}