.EmployeeDetails{
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 30px;
    color: rgb(200, 200, 200);
}

.EmployeeDetails h1{
    color: blueviolet;
}

.EmployeeDetails ul li{
    font-size: 30px;
}

.EmployeeDetails ul li div h3{
    font-size: 20px;
}

.EmployeeDetails ul li div p{
    font-size: 14px;
}