.header {
  width: 100%;
  padding: 10px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background: rgb(230, 230, 230); */
  background: #133449;
  position: sticky;
  top: 0;
  z-index: 100;
}

.logo {
  font-size: 25px;
  background-color: cornflowerblue;
  padding: 3px 5px;
  cursor: pointer;
  border-radius: 3px;
}

.logo span {
  color: blueviolet;
}

.navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 150px;
}

.navBar a {
  font-size: 18px;
  text-decoration: none;
  color: rgb(202, 202, 202);
}

.navBar a:hover {
  color: blueviolet;
}

.active {
  color: blueviolet !important;
}
